{% extends "usuarios/base.html" %}

{% block head_content %}
<title>Iniciar Sesión</title>
{% endblock%}

{% block container %}
<form method="POST" action="{% url "login" %}">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control mb-2" type="text" placeholder="Username" name="username" />
    </div>
    <div class="form-group">                
        <input class="form-control" type="password" placeholder="Contraseña" name="password" />
    </div>
    <button class="btn btn-primary btn-block" type="submit">Entrar</button>

</form>
<p class="mt-4">¿No tienes una cuenta aún?<a href="{% url "signup" %}"> Registrate Aquí</a></p>
{% endblock %}